.container {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;  
}

.kal {
    border-style: 5px rgb(43, 40, 40) solid;
    border-radius: 20px;
    background-color: darkorange;
    padding: 25px 25px 25px 25px;
}

.hasil {
    width: 220px;
    margin: 5px 5px 5px 5px;
    height: 20px;
    text-align: center;
}
.number {
    width: 50px;
    margin: 0px 3px 0px 3px ;
    background-color: green;
    color: white;
}
.tools {
    width: 50px;
    background-color: darkslategray;
    color: white;
}

.delete {
    width: 50px;
    background-color: darkred;
    color: white;
    margin: 0px 3px 0px 3px ;

}

.equal {
    width:227px;
    background-color: royalblue;
    color: white;
    margin: 0px 3px 0px 3px;
}

.equal:hover {
    cursor: pointer;
    background-color: rgb(114, 148, 250);;
}
.delete:hover {
    cursor:pointer;
    background-color: rgb(179, 47, 47);
}
.tools:hover {
    cursor: pointer;
    background-color: rgb(102, 134, 134);
}
.number:hover{
    cursor: pointer;
    background-color: rgb(70, 161, 70);
}